@import "/src/variables.scss";

.fc-end-of-exam-question-option {
  margin-bottom: 4px;
  padding: 4px 4px 4px 5px;
}
.fc-end-of-exam-question-correct-answer {
  border: $pass-color 1px solid;
  background-color: #0080001d;
  margin-bottom: 4px;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.fc-end-of-exam-question-selected-answer {
  border: $fail-color 1px solid;
  background-color: #ff2f2025;
  margin-bottom: 4px;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.fc-end-of-exam-question-option-label {
  font-weight: bold;
}
@media (max-width: 768px) {
  .fc-end-of-exam-question-option-label {
    display: none;
  }
}
