@import "../../variables.scss";

.fc-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .fc-card-link {
    color: white;
    text-decoration: none;
    width: 20%;
  }
}
.skola {
  background-image: url("/src/images/Dopravna-TT-1.png");
  height: 690px;
  width: 100%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.skola-popis {
  font-size: large;
  display: flex;
  justify-content: center;
  color: $background-color;
  margin-top: 10%;
  margin-bottom: 12%;
  margin-right: 65%;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.31);
}
@media (max-width: 768px) {
  .fc-cards {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
  }
  .skola {
    height: 150px;
  }
}
