@import "../../variables.scss";

.fc-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0% 15%;

  .fc-card-link {
    color: white;
    text-decoration: none;
    width: 15%;
  }
}
.skola {
  background-image: url("../../images/Dopravna-TT-1.jpg");
  height: 1920px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
