@import "../../variables.scss";

.fc-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0% 15%;

  .fc-card-link {
    color: $text-color;
    text-decoration: none;
    width: 33%;
  }
}
