@import "/src/variables.scss";

.fc-end-of-exam {
  .fc-main-page-button {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }
  .fc-end-of-exam-questions {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0% 15%;
  }

  @media (max-width: 768px) {
    .fc-end-of-exam-questions {
      margin: unset;
    }
  }
}
