@import "/src/variables.scss";

.fc-end-of-exam {
  .fc-end-of-exam-score {
    text-align: center;
    margin-top: 12px;
    font-size: xx-large;
    color: $text-color;
  }
  .fc-percentage {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-top: 12px;
  }
  .fc-end-of-exam-questions {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0% 30%;
    .fc-end-of-exam-question {
      border: 1px solid black;
      padding: 28px;
      border-radius: 10px;
      margin: 8px;
      .fc-end-of-exam-question-question {
        font-weight: bold;
        font-size: large;
      }
      .fc-question-img {
        width: 500px;
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &.fc-end-of-exam-question-incorrect {
        border: 1px solid red;
      }
      &.fc-end-of-exam-question-correct {
        border: 1px solid green;
      }
    }
  }
  .fc-main-page-button {
    display: flex;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 12px;
  }
  .fc-end-of-exam-question-options {
    margin-top: 6px;
  }
  .fc-end-of-exam-question-option {
    margin-bottom: 4px;
  }
  .fc-end-of-exam-question-correct-answer {
    border: lawngreen 1px solid;
    margin-bottom: 4px;
    .correct-answer {
      float: right;
    }
  }
  .fc-end-of-exam-question-selected-answer {
    border: red 1px solid;
    margin-bottom: 4px;
    .your-answer {
      float: right;
    }
  }
}
