@import "/src/variables.scss";

.fc-end-of-exam-question-question {
  font-weight: bold;
  font-size: large;
}
.fc-question-img {
  width: 100%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 768px) {
  .fc-question-img {
    height: 200px;
  }
}
