@import "/src/variables.scss";

.fc-exam-options-checkbox {
  margin-top: 10px;
  display: flex;
}
.fc-exam-options-checkbox-label {
  margin-left: 10px;
  cursor: pointer;
  font-size: large;
}
.fc-exam-options-checkboxes {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .fc-exam-options-checkbox-label {
    font-size: medium;
  }
}
