.fc-image-paralelne {
  background-image: url("./paralelne.jpg");
}
.fc-image-obr1 {
  background-image: url("./obr1.PNG");
}
.fc-image-obr2 {
  background-image: url("./obr2.PNG");
}
.fc-image-obr3 {
  background-image: url("./obr3.PNG");
}
.fc-image-obr4 {
  background-image: url("./obr4.PNG");
}
.fc-image-obr5 {
  background-image: url("./obr5.PNG");
}
.fc-image-obr6 {
  background-image: url("./obr6.PNG");
}
.fc-image-obr7 {
  background-image: url("./obr7.PNG");
}
.fc-image-obr8 {
  background-image: url("./obr8.PNG");
}
.fc-image-obr9 {
  background-image: url("./obr9.PNG");
}
.fc-image-obr10 {
  background-image: url("./obr10.PNG");
}
.fc-image-obr4201 {
  background-image: url("/src/images/obr4201.jpg");
}
.fc-image-obr4202 {
  background-image: url("./obr4202.jpg");
}
.fc-image-obr4203 {
  background-image: url("./obr4203.jpg");
}
.fc-image-obr4204 {
  background-image: url("./obr4204.jpg");
}
.fc-image-obr4205 {
  background-image: url("./obr4205.jpg");
}
.fc-image-obr4206 {
  background-image: url("./obr4206.jpg");
}
.fc-image-obr4207 {
  background-image: url("./obr4207.jpg");
}
.fc-image-obr4208 {
  background-image: url("./obr4208.jpg");
}
.fc-image-obr4209 {
  background-image: url("./obr4209.jpg");
}
.fc-image-obr4210 {
  background-image: url("./obr4210.jpg");
}
.fc-image-obr4211 {
  background-image: url("./obr4211.jpg");
}
.fc-image-obr4212 {
  background-image: url("./obr4212.jpg");
}
.fc-image-obr4213 {
  background-image: url("./obr4213.jpg");
}
.fc-image-obr4214 {
  background-image: url("./obr4214.jpg");
}
.fc-image-obr4215 {
  background-image: url("./obr4215.jpg");
}
.fc-image-obr4216 {
  background-image: url("./obr4216.jpg");
}
.fc-image-obr4217 {
  background-image: url("./obr4217.jpg");
}
.fc-image-obr4001 {
  background-image: url("./obr4001.jpg");
}
.fc-image-obr4002 {
  background-image: url("./obr4002.jpg");
}
.fc-image-obr4003 {
  background-image: url("./obr4003.jpg");
}
.fc-image-obr4004 {
  background-image: url("./obr4004.jpg");
}
.fc-image-obr4005 {
  background-image: url("./obr4005.jpg");
}
.fc-image-obr4401 {
  background-image: url("./obr4401.jpg");
}
.fc-image-obr4402 {
  background-image: url("./obr4402.jpg");
}
.fc-image-obr4403 {
  background-image: url("./obr4403.jpg");
}
.fc-image-obr4404 {
  background-image: url("./obr4404.jpg");
}
.fc-image-obr4405 {
  background-image: url("./obr4405.jpg");
}
.fc-image-obr4406 {
  background-image: url("./obr4406.jpg");
}
.fc-image-obr4407 {
  background-image: url("./obr4407.jpg");
}
.fc-image-obr4408 {
  background-image: url("./obr4408.jpg");
}
.fc-image-obr4409 {
  background-image: url("./obr4409.jpg");
}
.fc-image-obr4410 {
  background-image: url("./obr4410.jpg");
}
.fc-image-obr4411 {
  background-image: url("obr4411.jpg");
}
.fc-image-obr4412 {
  background-image: url("./obr4412.jpg");
}
.fc-image-obr4413 {
  background-image: url("./obr4413.jpg");
}
.fc-image-obr4414 {
  background-image: url("./obr4414.jpg");
}
.fc-image-obr4301 {
  background-image: url("./obr4301.jpg");
}
.fc-image-obr4302 {
  background-image: url("./obr4302.jpg");
}
.fc-image-obr4303 {
  background-image: url("./obr4303.jpg");
}
.fc-image-obr4304 {
  background-image: url("./obr4304.jpg");
}
.fc-image-obr4305 {
  background-image: url("./obr4305.jpg");
}
.fc-image-obr4306 {
  background-image: url("./obr4306.jpg");
}
.fc-image-obr4307 {
  background-image: url("./obr4307.jpg");
}
.fc-image-obr4308 {
  background-image: url("./obr4308.jpg");
}
.fc-image-obr4309 {
  background-image: url("./obr4309.jpg");
}
.fc-image-obr4310 {
  background-image: url("./obr4310.jpg");
}
.fc-image-obr4311 {
  background-image: url("./obr4311.jpg");
}
.fc-image-obr4312 {
  background-image: url("./obr4312.jpg");
}
.fc-image-obr4313 {
  background-image: url("./obr4313.jpg");
}
.fc-image-obr4314 {
  background-image: url("./obr4314.jpg");
}
.fc-image-obr4315 {
  background-image: url("./obr4315.jpg");
}
.fc-image-obr4101 {
  background-image: url("./obr4101.jpg");
}
.fc-image-obr4102 {
  background-image: url("./obr4102.jpg");
}
.fc-image-obr4103 {
  background-image: url("./obr4103.jpg");
}
.fc-image-obr4104 {
  background-image: url("./obr4104.jpg");
}
.fc-image-obr4105 {
  background-image: url("./obr4105.jpg");
}
.fc-image-obr4106 {
  background-image: url("./obr4106.jpg");
}
.fc-image-obr4107 {
  background-image: url("./obr4107.jpg");
}
.fc-image-obr4108 {
  background-image: url("./obr4108.jpg");
}
.fc-image-obr4109 {
  background-image: url("./obr4109.jpg");
}
.fc-image-obr4110 {
  background-image: url("./obr4110.jpg");
}
