.fc-image-paralelne {
  background-image: url("./paralelne.jpg");
}
.fc-image-obr4201 {
  background-image: url("/src/images/obr4201.jpg");
}
.fc-image-obr4202 {
  background-image: url("./obr4202.jpg");
}
.fc-image-obr4203 {
  background-image: url("./obr4203.jpg");
}
.fc-image-obr4204 {
  background-image: url("./obr4204.jpg");
}
.fc-image-obr4205 {
  background-image: url("./obr4205.jpg");
}
.fc-image-obr4206 {
  background-image: url("./obr4206.jpg");
}
.fc-image-obr4207 {
  background-image: url("./obr4207.jpg");
}
.fc-image-obr4208 {
  background-image: url("./obr4208.jpg");
}
.fc-image-obr4209 {
  background-image: url("./obr4209.jpg");
}
.fc-image-obr4210 {
  background-image: url("./obr4210.jpg");
}
.fc-image-obr4211 {
  background-image: url("./obr4211.jpg");
}
.fc-image-obr4212 {
  background-image: url("./obr4212.jpg");
}
.fc-image-obr4213 {
  background-image: url("./obr4213.jpg");
}
.fc-image-obr4214 {
  background-image: url("./obr4214.jpg");
}
.fc-image-obr4215 {
  background-image: url("./obr4215.jpg");
}
.fc-image-obr4216 {
  background-image: url("./obr4216.jpg");
}
.fc-image-obr4217 {
  background-image: url("./obr4217.jpg");
}
.fc-image-obr4001 {
  background-image: url("./obr4001.jpg");
}
.fc-image-obr4002 {
  background-image: url("./obr4002.jpg");
}
.fc-image-obr4003 {
  background-image: url("./obr4003.jpg");
}
.fc-image-obr4004 {
  background-image: url("./obr4004.jpg");
}
.fc-image-obr4005 {
  background-image: url("./obr4005.jpg");
}
.fc-image-obr4401 {
  background-image: url("./obr4401.jpg");
}
.fc-image-obr4402 {
  background-image: url("./obr4402.jpg");
}
.fc-image-obr4403 {
  background-image: url("./obr4403.jpg");
}
.fc-image-obr4404 {
  background-image: url("./obr4404.jpg");
}
.fc-image-obr4405 {
  background-image: url("./obr4405.jpg");
}
.fc-image-obr4406 {
  background-image: url("./obr4406.jpg");
}
.fc-image-obr4407 {
  background-image: url("./obr4407.jpg");
}
.fc-image-obr4408 {
  background-image: url("./obr4408.jpg");
}
.fc-image-obr4409 {
  background-image: url("./obr4409.jpg");
}
.fc-image-obr4410 {
  background-image: url("./obr4410.jpg");
}
.fc-image-obr4411 {
  background-image: url("obr4411.jpg");
}
.fc-image-obr4412 {
  background-image: url("./obr4412.jpg");
}
.fc-image-obr4413 {
  background-image: url("./obr4413.jpg");
}
.fc-image-obr4414 {
  background-image: url("./obr4414.jpg");
}
