// TODO: REFACTOR

@import "../../variables.scss";
.fc-button {
  border-radius: 10px;
  border: none;
  background-color: $background-color;
  padding: 12px;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  color: $accent-color;
  @media (hover: hover) {
    &:hover {
      background-color: $secondary-color;
      cursor: pointer;
      scale: 1.05;
      transition: scale 0.1s ease;
    }
  }
  &.fc-button-next {
    background-color: $green;
    color: white;
  }
  &.fc-button-back {
    background-color: $blue;
    color: white;
  }
  &.fc-button-end {
    background-color: $red;
    color: white;
  }
  &:disabled {
    background-color: grey;
    color: white;
    &:hover {
      cursor: not-allowed;
      scale: unset;
      filter: unset;
      background-color: grey;
    }
  }
  &.fc-button-pagination {
    background-color: $secondary-color;
    scale: 1.05;
  }
  &.fc-button-answered {
    background-color: #00000048;
  }
}
