@import "/src/variables.scss";
.fc-pagination {
  margin: 4px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .fc-button {
    margin: 2px;
    width: 40px;
  }
}
.fc-navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  .fc-button {
    width: 100px;
  }
}
