@import "/src/variables.scss";
.fc-pagination {
  display: flex;
  justify-content: center;

  .fc-navigation-buttons {
    margin: 4px;
    display: block;
    .fc-button {
      margin: 2px;
      width: 40px;
    }
  }
  @media (max-width: 768px) {
    .fc-navigation-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
