@import "../../variables.scss";

.fc-toolbar {
  display: flex;

  background-color: $accent-color;

  padding: 8px 16px;
  border-bottom: 1px solid $border-color;
  justify-content: space-between;

  .fc-toolbar-left {
    color: $background-color;
    display: flex;
    font-size: xxx-large;
    &:hover {
      cursor: pointer;
    }
  }

  .fc-toolbar-right {
    display: flex;
    .fc-button:first-of-type {
      margin-right: 4px;
    }
  }
  .fc-toolbar-logo {
    height: 60px;
    width: 75px;
    background-image: url("../../images/logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
}
