@import "../../variables.scss";
.fc-main-page {
  height: calc(100% - 77px);
  .fc-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    .fc-card-link {
      color: white;
      text-decoration: none;
      width: 20%;
    }
  }
  .fc-main-page-navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .fc-school-photo {
    background-image: url("/src/images/Dopravna-TT-edit.jpg");
    height: calc(100% - 180px);
    width: 100%;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    .fc-cards {
      display: block;
      margin-left: 5%;
      margin-right: 5%;
    }
    .fc-school-photo {
      display: none;
    }
    .gap {
      height: 40px;
    }
  }
}
