@import "../../variables.scss";
.fc-question {
  margin-top: 12px;
  margin-left: 12px;
  display: flex;
  justify-content: center;

  .fc-question-border {
    border: $border-color 4px solid;
    padding: 20px;
    border-radius: 10px;
  }
  .fc-question-top {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: $text-color;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .fc-question-bottom {
    display: flex;

    font-size: x-large;
    color: $text-color;
    margin-bottom: 8px;
  }
}
.fc-question-radio {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  &:hover {
    cursor: pointer;
    font-size: xx-small;
  }
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.prev-button {
  margin-right: 250px;
}
