@import "../../variables.scss";
.fc-question {
  display: flex;
  justify-content: center;
  .fc-question-timer {
    font-size: xx-large;
  }
  .fc-question-border {
    border: $border-color 4px solid;
    box-shadow: 0 0 16px $border-color;
    padding: 20px;
    border-radius: 10px;
    margin: 6px 14px 14px 14px;
    max-width: 1200px;
  }
  .fc-question-question {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: $text-color;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .fc-question-text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .fc-question-img {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .fc-question-options {
    display: flex;
    font-size: x-large;
    color: $text-color;
    padding: 8px;
    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        background-color: $terniary-color;
        border-radius: 10px;
      }
    }
    .fc-question-options-abcd {
      margin-right: 8px;
      padding-top: 4px;
      font-size: large;
    }
    .fc-question-options-radio {
      min-width: 20px;
      min-height: 20px;
      max-height: 20px;
      margin-right: 8px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .fc-question-pagination {
    margin-top: 14px;
  }
  @media (max-width: 768px) {
    .fc-question-question {
      font-size: large;
      padding: 6px;
    }
    .fc-question-border {
      margin: 6px;
      padding: 10px 2px 10px 2px;
    }
    .fc-question-options {
      font-size: medium;
      .fc-question-options-radio {
        min-width: 14px;
        min-height: 14px;
      }
      .fc-question-options-abcd {
        padding-top: 2px;
        font-size: small;
      }
    }

    .fc-question-img {
      height: 200px;
    }
  }
}
