@import "../../variables.scss";
.fc-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px;
  border: $border-color 2px solid;
  padding: 12px;
  border-radius: 10px;
  height: 140px;
  transition: filter 0.4s ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
    filter: brightness(80%);
  }
  .fc-card-title {
    font-size: large;
    text-align: center;
    padding: 10px;
    background-color: $border-background-color;
    border-radius: 10px;
  }

  .fc-card-author {
    position: absolute;
    background-color: $border-background-color;
    padding: 6px;
    border-radius: 10px;
    font-size: small;
    bottom: 0;
    right: 0;
    margin: 12px;
  }
  &.fc-card-matematika {
    background-image: url("../../images/matika.jpg");
  }
  &.fc-card-slovencina {
    background-image: url("../../images/sjl.jpg");
  }
  &.fc-card-AnglickyJazyk {
    background-image: url("../../images/anj.jpg");
  }
  &.fc-card-TCOZ {
    background-image: url("../../images/elektrotechnika.jpg");
  }
  &.fc-card-ETS {
    background-image: url("/src/images/ets.jpg");
  }
}
