$background-color: #ebebeb;
$primary-color: #fc7643;
$secondary-color: #ffc7a1;
$terniary-color: #ffebd2;
$accent-color: #273248;
$text-color: #172031;
$secondary-text-color: #8f8f8f;
$second-accent-color: #273248ad;
$border-color: #dddddd;
$white: #fff;
$border-background-color: #0000009c;
$pass-color: #07b107;
$fail-color: #ff2f20;
